<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SData_Deleter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="SData_Deleter.sdata" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SData_Deleter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SData_Deleter.Properties.Settings>
            <setting name="SDataHost" serializeAs="String">
                <value>qaminsky</value>
            </setting>
            <setting name="SDataPort" serializeAs="String">
                <value>3333</value>
            </setting>
            <setting name="SDataUserName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="SDataPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SalesLogixConnection" serializeAs="String">
                <value>Provider=SLXOLEDB.1;Password=;Persist Security Info=True;User ID=admin;Initial Catalog=DEV;Data Source=slxdev;Extended Properties="PORT=1706;LOG=ON;CASEINSENSITIVEFIND=ON;AUTOINCBATCHSIZE=1;SVRCERT=;"</value>
            </setting>
            <setting name="Sql" serializeAs="String">
                <value>select * from contact where userfield6="DeleteMe"</value>
            </setting>
            <setting name="Entity" serializeAs="String">
                <value>contacts</value>
            </setting>
        </SData_Deleter.Properties.Settings>
        <SData_Deleter.sdata>
            <setting name="SDataUserName" serializeAs="String">
                <value/>
            </setting>
        </SData_Deleter.sdata>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <SData_Deleter.Properties.Settings>
            <setting name="EntityIDColumnName" serializeAs="String">
                <value>contactid</value>
            </setting>
        </SData_Deleter.Properties.Settings>
    </userSettings>
</configuration>
